In [1]:
import pandas as pd
import numpy as np

In [3]:
a375=pd.read_csv("/home/siyutao/SL/LukePi_2.0/cell_line/KG_Sequence/SL_data/MVGCNdata/A375/A375_GIscore_534.csv")
a375

,gene_1,gene_2,cell_line_origin,horlbeck_score_SL_score,gene1_primekg_index,gene2_primekg_index,label,cell_id
0,MAP2K2,UBC,A375,0.612069,5809,189,0,0
1,HSP90AA1,MAP2K2,A375,0.424389,2043,5809,0,0
2,CHEK2,MAP2K2,A375,0.872002,6966,5809,0,0
3,AKT1,MAP2K2,A375,0.666019,1057,5809,0,0
4,BCL2,MAP2K2,A375,0.541110,2429,5809,0,0
...,...,...,...,...,...,...,...,...
529,MAP2K1,WEE1,A375,-5.000000,1831,3249,1,0
530,PARP1,WEE1,A375,-5.000000,568,3249,1,0
531,BRCA2,WEE1,A375,-5.000000,80,3249,1,0
532,BRCA2,MAP2K1,A375,-5.000000,80,1831,1,0
533,BCL2L1,BCL2L2,A375,-5.000000,4323,536,1,0

In [6]:
b=a375.drop_duplicates(subset=['gene1_primekg_index','gene2_primekg_index'],keep='last')

In [8]:
b['label'].value_counts()

0    513
1      8
Name: label, dtype: int64

In [9]:
b.reset_index(drop=True,inplace=True)

In [10]:
b

,gene_1,gene_2,cell_line_origin,horlbeck_score_SL_score,gene1_primekg_index,gene2_primekg_index,label,cell_id
0,MAP2K2,UBC,A375,0.612069,5809,189,0,0
1,HSP90AA1,MAP2K2,A375,0.424389,2043,5809,0,0
2,CHEK2,MAP2K2,A375,0.872002,6966,5809,0,0
3,AKT1,MAP2K2,A375,0.666019,1057,5809,0,0
4,BCL2,MAP2K2,A375,0.541110,2429,5809,0,0
...,...,...,...,...,...,...,...,...
516,MAP2K1,WEE1,A375,-5.000000,1831,3249,1,0
517,PARP1,WEE1,A375,-5.000000,568,3249,1,0
518,BRCA2,WEE1,A375,-5.000000,80,3249,1,0
519,BRCA2,MAP2K1,A375,-5.000000,80,1831,1,0
520,BCL2L1,BCL2L2,A375,-5.000000,4323,536,1,0

In [18]:
from sklearn.model_selection import StratifiedShuffleSplit
df=b
# X 是特征，y 是标签
for i in range(5):
    sss = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42+i)
    X=df[['gene1_primekg_index','gene2_primekg_index','cell_id']].values
    y=df['label'].values
    for train_index, test_index in sss.split(X, y):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        X_train=pd.DataFrame(X_train)
        y_train=pd.DataFrame(y_train)
        df_x=pd.concat([X_train,y_train],axis=1)
        df_x.columns=[[0,1,2,3]]
        # df_x.to_csv(f"/home/siyutao/SL/LukePi_2.0/cell_line/KG_Sequence/SL_data/C1/sl_train_{i}.csv",index=False)
        df_x.to_csv(f"/home/siyutao/SL/LukePi_2.0/cell_line/KG_Sequence/SL_data/MVGCNdata/A375/C1_pure/sl_train_{i}.csv",index=False)
        X_test=pd.DataFrame(X_test)
        y_test=pd.DataFrame(y_test)
        dk_x=pd.concat([X_test,y_test],axis=1)
        dk_x.columns=[[0,1,2,3]]
        # dk_x.to_csv(f"/home/siyutao/SL/LukePi_2.0/cell_line/KG_Sequence/SL_data/C1/sl_test_{i}.csv",index=False)
        df_x.to_csv(f"/home/siyutao/SL/LukePi_2.0/cell_line/KG_Sequence/SL_data/MVGCNdata/A375/C1_pure/sl_test_{i}.csv",index=False)